<!DOCTYPE html>
<html>
  <head>
    <title>Vibewise | The Mood Matcher</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/player_page_style.css">
    <link rel="stylesheet" href="/gradient-bg-style.css">
  </head>
  <body class="grad-bg">
    <div class="h-100 justify-content-center align-items-center">
      <!--<button class="btn btn-primary" id="login">Don't see anything? Log in!</button>-->
      <div id="data-container" class="text-center">
        <div class="container">
            <div class="jumbotron bg-trans holder" id="flex-container">
                <div class="container">
                    <h1 class="display-4 text-center text-white">Hold tight! Your queue is being updated right... now.</h1>
                    <h4 class="text-white text-center">Enjoy the vibes on us.</h4>
                </div>
                <div class="container">
                    <h5><a href="/u/mood">Give me a new vibe!</a></h5>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  </body>
</html>