<!DOCTYPE html>
<html>
  <head>
    <title>Vibewise | Uh oh!</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="views/style.css">
  </head>
  <body class="bg-black">
    <!--
    <header>
      <h1>
        Spotify Authorization Code Flow
      </h1>
    </header> -->

    <div class="row h-100 justify-content-center align-items-center">
      <!--<button class="btn btn-primary" id="login">Don't see anything? Log in!</button>-->
      <div id="data-container" class="text-center">
        <div class="container">
            <div class="jumbotron text-center text-white trans-jumb id="mood_jumb">
                <h1 class="display-4"><b>Oh no!</b></h1>
                <h3 style="color: #f5f5f5">It doesn't look like you have any songs on your playlist that match your current vibe.</h3>
                <br><br>
                <!--<button class="btn btn-outline-light" id="submit-mood">Listen</button>-->
                <div class="button-box col-lg-12">
                    <a href="/u/mood" class="btn btn-outline-light" role="button">Give me a new vibe!</a>
                    <a href="/" class="btn btn-outline-light" role="button">New playlist!</a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="views/client.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  </body>
</html>
