<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Here's some data.</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <!--
    <header>
      <h1>
        Spotify Authorization Code Flow
      </h1>
    </header> -->

    <div class="container">
      <!--<button class="btn btn-primary" id="login">Don't see anything? Log in!</button>-->
      <p>Somedata.html</p>
      <div id="data-container-mod">
        <ol>
          <!-- This is where we will append our data -->
        </ol>
      </div>
    </div>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  </body>
</html>
